body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table-container{
    background-color:white;
    display: flex; 
    padding: 30px;
    border-radius: 15px;
    gap: 70px
}
